{% block dropzonemultiple_widget -%}
    {%- set dataController = (attr['data-controller']|default('') ~ ' leomarcel--ux-dropzonemultiple--dropzonemultiple')|trim -%}
    {%- set attr = attr|merge({'data-controller': '', class: (attr.class|default('') ~ ' dropzonemultiple-input')|trim}) -%}

    <div class="dropzonemultiple-container" data-controller="{{ dataController }}">
        <input type="file" {{ block('widget_attributes') }} data-leomarcel--ux-dropzonemultiple--dropzonemultiple-target="input" />

        <div class="dropzonemultiple-placeholder" data-leomarcel--ux-dropzonemultiple--dropzonemultiple-target="placeholder">
            {%- if attr.placeholder is defined and attr.placeholder is not none -%}
                {{- translation_domain is same as(false) ? attr.placeholder : attr.placeholder|trans({}, translation_domain) -}}
            {%- endif -%}
        </div>

        <div class="dropzonemultiple-preview" data-leomarcel--ux-dropzonemultiple--dropzonemultiple-target="preview" style="display: none">
            <button class="dropzonemultiple-preview-button" type="button"
                    data-leomarcel--ux-dropzonemultiple--dropzonemultiple-target="previewClearButton"></button>

            <div class="dropzonemultiple-preview-image" style="display: none"
                 data-leomarcel--ux-dropzonemultiple--dropzonemultiple-target="previewImage"></div>

            <div data-leomarcel--ux-dropzonemultiple--dropzonemultiple-target="previewFilename" class="dropzonemultiple-preview-filename"></div>
        </div>
    </div>
{%- endblock %}
